Author: Christian Kruse
Site: christian@kruse.cool
Location: Steinfurt, Germany


/* SITE */
Last update: <%= Timex.format!(@last_modified, "%Y/%m/%d", :strftime) %>
Standards: HTML5, CSS3
Components: none
Software: WWWTech