{% extends "layout.html.j2" %}

{% block content %}
<header class="page-header">
  <h2>Edit note #{{note.id}}</h2>
</header>

{% if let Some(err) = error %}
<div class="alert alert-danger">{{err}}</div>
{% endif %}

<form method="post" action="{{self::note_uri(note)}}">
  {% include "notes/form.html.j2" %}

  <div class="actions">
    <button type="submit">save</button>
    <a href="{{self::notes_uri()}}" class="btn">cancel</a>
  </div>
</form>
{% endblock %}
