<h2>Note <%= @note.id %></h2>

<%= render "note.html", note: @note, conn: @conn %>

<%= if logged_in?(@conn) do %>
  <p>
    <%= link "Edit", to: Routes.note_path(@conn, :edit, @note), class: "btn" %>
    <%= button "Delete", to: Routes.note_path(@conn, :delete, @note), method: :delete, data: [confirm: "Are you sure?"], class: "btn" %>
  </p>
<% end %>
