<header class="page-header">
  <h2>Pictures</h2>
  <%= link to: Routes.picture_path(@conn, :index) <> ".atom" do %><img src="<%= Routes.static_path(@conn, "/images/feed.svg") %>" class="feed-icon" alt="Atom Feed"><% end %>
</header>

<%= if logged_in?(@conn) do %>
  <p><%= link "New picture", to: Routes.picture_path(@conn, :new) %></p>
<% end %>

<ol class="picture-list">
  <%= render "pictures_list.html", assigns %>
</ol>

<%= Paging.pagination @conn, @paging, &Routes.picture_path/3 %>
