<h2>Picture <%= @picture.id %></h2>

<%= render "picture.html", conn: @conn, picture: @picture, type: :large, exif: @exif %>

<%= if logged_in?(@conn) do %>
  <%= link "Edit", to: picture_path(@conn, :edit, @picture) %>
  <%= btn_button "Delete", to: picture_path(@conn, :delete, @picture), method: :delete, data: [confirm: "Are you sure?"] %>
  <%= btn_button "Regenerate", to: picture_path(@conn, :regenerate, @picture), method: :post %>
<% end %>
