<h2>Show note</h2>

<ul>

  <li>
    <strong>Author:</strong>
    <%= @note.author_id %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @note.content %>
  </li>

  <li>
    <strong>In reply to:</strong>
    <%= @note.in_reply_to %>
  </li>

  <li>
    <strong>Posse:</strong>
    <%= @note.posse %>
  </li>

</ul>

<%= link "Edit", to: note_path(@conn, :edit, @note) %>
<%= link "Back", to: note_path(@conn, :index) %>
