{% extends "layout.html.jinja" %}

{% block content %}
<article class="h-card" id="about-me">
  <section class="introduction">
    <img src="{{self::asset_uri("christian-kruse.jpg")}}" alt="" class="u-photo portrait">

    <h2><a href="{{self::page_uri("about")}}" class="p-name u-url">Christian Kruse</a></h2>

    <div class="p-note">
      <p>
        My name is Christian Kruse. I work as a software developer and system administator at
        <a href="https://termitel.de/">Termitel GmbH</a>. I live in Germany in a small town called
        <a href="https://en.wikipedia.org/wiki/Steinfurt">Steinfurt</a>.
      </p>

      <p>
        I am passionate about software development, <a href="https://en.wikipedia.org/wiki/Linux">Linux</a>,
        <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">FLOSS</a> as well as
        <a href="https://en.wikipedia.org/wiki/macOS">macOS</a>. I am also a do-it-yourself apologetic: I did a
        lot of things in and around my house myself. I love the hacker culture. And last but not least I am a dog owner.
      </p>

      <p>
        This is my personal replacement for Twitter, Facebook and the other data silos.
        <a href="http://indiewebcamp.com/">My content is mine</a> — so if you are interested in my activity, just
        have a look at this page.
      </p>

      <p>
        All content on this site is available under
        <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a>.
      </p>

      <p>
        <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en"><img src="{{self::asset_uri("by-sa.svg")}}" width="88" height="31" alt="CC BY-SA" class="badge"></a>
        <a href="https://indieweb.org/"><img src="{{self::asset_uri("indiewebcamp-button.svg")}}" width="80" height="15" alt="IndieWebCamp" class="badge"></a>
        <a href="https://indieweb.org/Webmention"><img src="{{self::asset_uri("webmention-button.svg")}}" width="80" height="15" alt="WebMentions" class="badge"></a>
        <a href="http://microformats.org/wiki/microformats-2"><img src="{{self::asset_uri("microformats-button.svg")}}" width="80" height="15" alt="Microformats" class="badge"></a>
      </p>
    </div>
  </section>

  <h3>Personal information</h3>

  <dl class="address">
    <dt>Address</dt>
    <dd>Christian Kruse</dd>
    <dd class="p-street-address">Friedenau 35</dd>
    <dd class="p-locality">48565 Steinfurt</dd>
    <dd class="p-country-name clearfix">Germany</dd>

    <dt>Email</dt>
    <dd><a class="u-email" href="mailto:cjk@defunct.ch">cjk@defunct.ch</a></dd>

    <dt>PGP</dt>
    <dd>A99A9D73</dd>
    <dd>BC5D 9F4E F7FB 4382 6056  E834 B8E0 F342 A99A 9D73</dd>
    <dd><a href="/A99A9D73.asc">wwwtech.de/A99A9D73.asc</a></dd>
  </dl>

  <p>Please send me encrypted mails if possible (see my public key above). Every bit of encrypted traffic increases the
    encrypted background noise and thus makes it harder to distinguish between important and unimportant traffic.</p>

  <h3>Social media</h3>

  <p>I also take part in several social services:</p>

  <ul class="social-list">
    <li><a href="https://chaos.social/@cjk" rel="me">@cjk</a> on Mastodon</li>
    <li><a href="https://codeberg.org/ckruse" rel="me">codeberg.org/ckruse</a> on Codeberg</li>
    <li><a href="https://github.com/ckruse" rel="me">github.com/ckruse</a> on Github</li>
  </ul>
</article>

{% endblock %}
