{% extends "layout.html.jinja" %}

{% block content %}
<article id="welcome">
  <img src="{{self::asset_uri("christian-kruse.jpg")}}" alt="Christian Kruse" class="portrait">

  <section>
    <p>
      Welcome. On this page you can find my <a href="{{self::page_uri("software")}}">software projects</a>, my
      <a href="{{self::articles_uri()}}">articles</a>, my <a href="{{self::notes_uri()}}">notes</a> and my
      <a href="{{self::pictures_uri()}}">pictures</a>.
    </p>

    <p>
      My name is Christian Kruse. I work as a software developer and system administator at
      <a href="https://termitel.de/">Termitel GmbH</a>. I live in Germany in a small town called
      <a href="https://en.wikipedia.org/wiki/Steinfurt">Steinfurt</a>.
    </p>

    <p>
      I am passionate about software development, <a href="https://en.wikipedia.org/wiki/Linux">Linux</a>,
      <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">FLOSS</a> as well as
      <a href="https://en.wikipedia.org/wiki/macOS">macOS</a>. I am also a do-it-yourself apologetic: I did a
      lot of things in and around my house myself. I love the hacker culture. And last but not least I am a dog owner.
    </p>

    <p>
      This is my personal replacement for Twitter, Facebook and the other data silos.
      <a href="http://indiewebcamp.com/">My content is mine</a> — so if you are interested in my activity, just
      have a look at this page.
    </p>
  </section>
</article>


<div class="home">
  <header class="whatsnew page-header">
    <h2>Last Article</h2>
    <a href="{{self::articles_atom_uri()}}"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a>
  </header>

  {% include "articles/article.html.jinja" %}
</div>

<div class="home">
  <header class="whatsnew page-header">
    <h2>Last „Life of Alfons“ article</h2>
    <a href="{{self::deafies_atom_uri()}}"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a>
  </header>

  <p>
    <a href="{{self::deafies_uri()}}">Life of Alfons</a> is only available in German. I write about our life with
    Alfons, a male Labrador dog we got at 2021-10-4. He is deaf.
  </p>

  {% include "deafies/deafie.html.jinja" %}
</div>

<header class="whatsnew page-header">
  <h2>What's new</h2>
  <a href="{{self::whatsnew_atom_uri()}}"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a>
</header>

<ol class="dated-list whats-new-list">
  {% for group in items %}
    <li>
      {% let grp = group[0] -%}
      {% let dt = self::actions::inserted_at_for(grp) -%}
      <h3 class="date">{{dt|date_list_format}}</h3>

      <ul class="content">
        {% for item in group %}
          <li>
            {% match item %}
            {% when NotePictureLike::Note with (note) %}
              {% include "notes/note.html.jinja" %}
            {% when NotePictureLike::Picture with (picture) %}
              {% include "pictures/picture.html.jinja" %}
            {% when NotePictureLike::Like with (like) %}
              {% include "likes/like.html.jinja" %}
            {% when NotePictureLike::Article with (_article) %}
            {% when NotePictureLike::None %}
            {% endmatch %}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ol>

{% endblock %}