{% extends "layout.html.jinja" %}

{% block content %}
<article id="welcome">
  <h2>👋 Hi! I'm <a href="{{self::page_uri("about")}}">Chistian</a></h2>
  <p>… and this is my personal website.</p>
</article>


<div class="home">
  <header class="whatsnew page-header">
    <h2>Last Article</h2>
    <a href="{{self::articles_atom_uri()}}"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a>
  </header>

  {% include "articles/article.html.jinja" %}
</div>

<div class="home">
  <header class="whatsnew page-header">
    <h2>Last „Life of Alfons“ Article</h2>
    <a href="{{self::deafies_atom_uri()}}"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a>
  </header>

  <p>
    <a href="{{self::deafies_uri()}}">Life of Alfons</a> is only available in German. I write about our life with
    Alfons, a male Labrador dog we got at 2021-10-4. He is deaf.
  </p>

  {% include "deafies/deafie.html.jinja" %}
</div>

<header class="whatsnew page-header overview">
  <h2>What's new</h2>
  <a href="{{self::whatsnew_atom_uri()}}"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a>
</header>

<ol class="dated-list whats-new-list">
  {% for group in items %}
    <li>
      {% let grp = group[0] -%}
      {% let dt = self::actions::inserted_at_for(grp) -%}
      <h3 class="date">{{dt|date_list_format}}</h3>

      <ul class="content">
        {% for item in group %}
          <li>
            {% match item %}
            {% when NotePictureLike::Note with (note) %}
              {% include "notes/note.html.jinja" %}
            {% when NotePictureLike::Picture with (picture) %}
              {% include "pictures/picture.html.jinja" %}
            {% when NotePictureLike::Like with (like) %}
              {% include "likes/like.html.jinja" %}
            {% when NotePictureLike::Article with (_article) %}
            {% when NotePictureLike::None %}
            {% endmatch %}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ol>

{% endblock %}
