{% extends "layout.html.j2" %}

{% block content %}
<header class="page-header no-rss">
  <h2>More…</h2>
</header>

<p>Since I don't want to clutter the navigation bar with unimportant items I moved the less important things to this sub page.</p>

<p>For now there are only likes, but there is more to come.</p>

<h3>Likes</h3>

<p><a href="{{self::likes_uri()}}">Likes</a> are things I found on the internet and somehow think they're cool. Like - things I like 😁</p>

{% if logged_in %}
  <p><a href="TODO:mentions">Mentions</a></p>
{% endif %}

{% endblock %}
