{% extends "layout.html.j2" %}

{% block description %}Things Christian Kruse likes{% endblock %}

{% block content %}
<header class="page-header">
  <h2>Likes</h2>
  <a href="{{self::likes_atom_uri()}}"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a>
  <p>This page contains things <a href="{{self::page_uri("about")}}" rel="me">I</a> found and like.</p>
</header>



{% if logged_in %}
  <p><a href="{{self::new_like_uri()}}">new like</a></p>
{% endif %}

<ol class="likes">
  {% for like in likes %}
    <li>
      {% include "likes/like.html.j2" %}

      {% if logged_in %}
        <form class="inline" method="post" action="{{self::delete_like_uri(like)}}">
          <p class="index-actions">
            <a href="{{self::edit_like_uri(like)}}">edit</a>
            <button type="submit">delete</button>
          </p>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ol>

{% set paging_path = self::likes_uri() %}
{% include "paging.html.j2" %}
{% endblock %}
