{% extends "layout.html.jinja" %}

{% block description %}Things Christian Kruse likes{% endblock %}

{% block content %}
<header class="page-header">
  <h2>Likes</h2>
  <a href="{{self::likes_uri()}}.atom"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a>
</header>

<p>This page contains things <a href="{{self::page_uri("about")}}" rel="me">I</a> found and like.</p>

{#<%= if logged_in?(@conn) do %>
  <p><%= link "New like", to: Routes.like_path(@conn, :new) %></p>
<% end %>#}

<ol class="likes">
  {% for like in likes %}
    <li>
      {% include "likes/like.html.jinja" %}

      {#<%= if logged_in?(@conn) do %>
      <p class="index-actions">
      <%= link "Edit", to: Routes.like_path(@conn, :edit, like) %>
      <%= button "Delete", to: Routes.like_path(@conn, :delete, like), method: :delete, data: [confirm: "Are you sure?"] %>
      </p>
      <% end %>#}
    </li>
  {% endfor %}
</ol>

{% set paging_path = self::likes_uri() %}
{% include "paging.html.jinja" %}
{% endblock %}
