{% extends "layout.html.jinja" %}

{% block content %}
<header class="page-header">
  <h2>New like</h2>
</header>

{% if let Some(err) = error %}
<div class="alert alert-danger">{{err}}</div>
{% endif %}

<form method="post" action="{{self::likes_uri()}}">
  {% include "likes/form.html.jinja" %}

  <div class="actions">
    <button type="submit">save</button>
    <a href="{{self::likes_uri()}}" class="btn">cancel</a>
  </div>
</form>

{% endblock %}