{% extends "layout.html.tera" %}

{% block descripton %}♥ {{like.in_reply_to}}{% endblock %}

{% block content %}
<h2>Like #{{like.id}}</h2>

{% include "likes/like.html.tera" %}

{#<%= if logged_in?(@conn) do %>
  <p>
    <%= link "Edit", to: Routes.like_path(@conn, :edit, @like), class: "btn" %>
    <%= button "Delete", to: Routes.like_path(@conn, :delete, @like), method: :delete, data: [confirm: "Are you sure?"], class: "btn" %>
  </p>
<% end %>#}
{% endblock %}
