{% extends "layout.html.j2" %}

{% block description %}Pictures & images by Christian Kruse{% endblock %}

{% block content %}
<header class="page-header">
  <h2>Pictures</h2>
  <a href="{{ self::pictures_atom_uri() }}"><img class="feed-icon" src="{{ self::asset_uri("feed.svg") }}" alt="Atom Feed"></a>
</header>

{% if logged_in %}
  <p><a href="{{ self::new_picture_uri() }}">new picture</a></p>
{% endif %}

<ol class="picture-list">
  {% for picture in pictures %}
    <li>{% include "pictures/picture.html.j2" %}</li>
  {% endfor %}
</ol>

{% set paging_path = self::pictures_uri() %}
{% include "paging.html.j2" %}
{% endblock %}
