{% extends "layout.html.j2" %}

{% block description %}{{picture.title}}{% endblock %}

{% block content %}
<header class="page-header">
  <h2>Picture {{picture.id}}</h2>
</header>


{% include "pictures/picture.html.j2" %}

{% if logged_in %}
  <form class="inline" method="post" action="{{self::delete_picture_uri(picture)}}">
    <p>
      <a href="{{self::edit_picture_uri(picture)}}" class="btn">edit</a>
      <button type="submit" class="btn">delete</button>
    </p>
  </form>
{% endif %}
{% endblock %}
