<h2>Picture <%= @picture.id %></h2>

<%= render "picture.html", conn: @conn, picture: @picture, type: :large %>

<%= if logged_in?(@conn) do %>
  <%= link "Edit", to: picture_path(@conn, :edit, @picture) %>
<% end %>
