{% extends "layout.html.jinja" %}

{% block description %}{% endblock %}

{% block content %}
<header class="page-header">
  <h2 lang="en">The Life of Alfons</h2>
  <p>das Leben mit einem gehörlosen Hund</p>
  <span><a href="{{self::deafies_atom_uri()}}"><img class="feed-icon" src="{{self::asset_uri("feed.svg")}}" alt="Atom Feed"></a></span>
</header>

{% if logged_in %}
  <p><a href="{{self::new_deafie_uri()}}">new article</a></p>
{% endif %}

<p lang="en">
  This page is only available in German. I am way too lazy to write such a niche content in a language other than
  German. I am sorry for my international audience, but it is still more than enough work to write this content
  at all.
</p>

<p>
  In diesem Bereich meiner Webseite erzähle ich von meinem Leben mit Alfons, einem gehörlosen Labrador-Rüden,
  der seit dem 4. Oktober 2021 mit uns lebt.
</p>

<ol class="articles">
  {% for deafie in deafies %}
    <li>
      {% include "deafies/deafie.html.jinja" %}

      {% if logged_in %}
        <form class="inline" method="post" action="{{self::delete_deafie_uri(deafie)}}">
          <p class="index-actions">
            <a href="{{self::edit_deafie_uri(deafie)}}">edit</a>
            <button type="submit">delete</button>
          </p>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ol>

{% set paging_path = self::deafies_uri() %}
{% include "paging_german.html.jinja" %}
{% endblock %}
