#about-me {
  .portrait {
    border-radius: 10px;
    float: right;
    margin-left: 1em;
    max-width: 20em;
  }

  .introduction {
    @include clearfix;
  }

  .address {
    dt {
      font-weight: bold;
    }
  }
}
