.answers article {
  header {
    a {
      text-decoration: none;
    }

    p {
      margin: 0;
    }

    .p-author {
      display: inline;
      font-style: italic;

      .avatar {
        margin-top: 0.25em;
        margin-right: 0.5em;
        float: left;
        vertical-align: top;
        max-height: 2em;
        border-radius: 0.25em;
      }
    }
  }

  .source {
    font-style: italic;
  }
}
