article.article {
  header {
    h3 {
      margin-bottom: 0;
    }
    h3 + p {
      margin-top: 0;
    }
    .avatar {
      display: none;
    }
  }
  .excerpt {
    font-style: italic;
  }

  blockquote {
    border-left: 0.3em solid #d5d5d5;
    padding-left: 0.75em;
    margin-left: 0;
  }

  img {
    max-width: 100%;
  }
}

article.article.index header .avatar {
  display: none;
}

.articles {
  list-style-type: none;
  padding-left: 0;

  p:last-child {
    margin-bottom: 0;
  }
  p:first-child {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }

  li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
  }

  li:last-of-type {
    border-bottom: none;
  }

  li:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
}
