*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  color: $default-color;
  background: $default-background;

  font-size: 1em;
  line-height: 1.4;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Source Sans Pro", "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.2em;

  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;

  padding: 0px 0em;
}

a,
a:visited {
  color: $default-color;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  color: $default-dark-color;
}

main {
  padding: 0 0.25em;
  width: 100%;
  max-width: 50rem;
  margin: 1em auto;
}

main > h1:first-child,
main > h2:first-child {
  margin-top: 0;
}

ul,
ol {
  padding-left: 1em;
}

.page-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em;

  h2 {
    margin-top: 0;
    line-height: 1;
  }

  img {
    max-width: 1.5em;
  }
}

a img {
  border: 0;
}

.in-reply-to {
  font-style: italic;
}

@include default-breakpoint() {
  main {
    padding: 0;
  }
}
