/* -*- coding: utf-8 -*- */


.notes li:after, ol.mentions li:after {
  content:".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.in-reply-to {
  font-style:italic;
  font-weight:normal;
  margin-top:0;
  margin-bottom:0;
}


/* eof */