nav.pagination ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;

  a {
    text-decoration: none;
  }

  li {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 0.2em 0.5em;
    color: #337ab7;
    margin-right: -1px;
    min-width: 1em;

    a:link,
    a:visited {
      color: #337ab7;
    }
    &.active a {
      color: #333;
    }
  }

  li:first-of-type {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  li:last-of-type {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  li.disabled > span,
  li.disabled > span:hover,
  li.disabled > span:focus,
  li.disabled > a,
  li.disabled > a:hover,
  li.disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
}
