nav.pagination ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;

  a {
    text-decoration: none;
  }

  li {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 0.5rem 0.75rem;
    color: #007bff;
    margin-left: -1px;

    a:link,
    a:visited {
      color: #007bff;
    }
    &.active a {
      color: #333;
    }
  }

  li:first-of-type {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  li:last-of-type {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  li.disabled > span,
  li.disabled > span:hover,
  li.disabled > span:focus,
  li.disabled > a,
  li.disabled > a:hover,
  li.disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
}
