.site-nav,
.site-footer {
  padding-top: 0;
  margin: 0;
  color: $default-color;

  ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
    text-align: left;

    li {
      padding: 0.5em;
      margin: 0.125em 0;
    }
  }

  li.email a:link,
  li.email a:visited {
    display: inline;
  }

  ul {
    max-width: 50rem;
    font-size: 0.8em;
  }
}

.site-nav {
  ul li {
    background-color: #d8d8d8;
    color: $default-color;
  }

  a:link,
  a:visited,
  input {
    color: $default-color;
  }

  button {
    text-decoration: underline;
    background: transparent;
    font-size: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

.site-footer {
  ul li {
    background-color: #3f3f3f;
  }

  a:link,
  a:visited,
  input {
    display: block;
    color: $default-background;
    text-decoration: none;
  }
}

@include default-breakpoint() {
  .site-nav,
  .site-footer {
    text-align: center;
  }

  .site-nav {
    background-color: #d8d8d8;
    color: $default-color;
  }

  .site-footer {
    background-color: #3f3f3f;
  }

  .site-nav,
  .site-footer {
    ul {
      display: inline-block;
      width: 100%;
      padding: 1em 0;

      li {
        display: inline;
        margin-right: 1em;
        background: transparent;
        border-radius: 0;
        padding: 0;
      }
      li:last-of-type {
        margin-right: 0;
      }

      a:link,
      a:visited,
      input {
        display: inline;
      }
    }
  }
}
