.project-list {
  list-style-type: none;
  padding-left: 0;

  h2 {
    margin-top: 2em;
  }

  li:first-of-type h2 {
    margin-top: 1em;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 30em) {
  .project-list {
    img {
      width: auto;
    }
  }
}
