$default-color: darken(rgb(120, 120, 120), 30%);
$default-dark-color: #333333;
$default-background: rgb(250, 248, 244);
$image-preview-width: 12em;

@mixin default-breakpoint() {
  @media only screen and (min-width: 30em) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
