.whatsnew {
  margin-top: 2em;
  h2 {
    margin-bottom: 0;
  }
}

.whats-new-list {
  img {
    width: 100%;
    border-radius: 0.25em;
  }
}

@include default-breakpoint() {
  .whats-new-list {
    img {
      width: auto;
    }
  }
}
