.whatsnew {
  margin-top: 2em;
  h2 {
    margin-bottom: 0;
  }
}

.whats-new-list {
  img {
    width: 100%;
  }
}

@media only screen and (min-width: 30em) {
  .whats-new-list {
    img {
      width: auto;
    }
  }
}
