.answers {
  article {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid lighten($default-dark-color, 70%);

    header {
      a {
        text-decoration: none;
      }

      p {
        margin: 0;
      }

      .p-author {
        display: inline;
        font-style: italic;

        .avatar {
          margin-top: 0.25em;
          margin-right: 0.5em;
          float: left;
          vertical-align: top;
          max-height: 2em;
          border-radius: 0.25em;
        }
      }
    }

    .source {
      font-style: italic;
    }
  }

  article:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.reposts-and-likes {
  ul {
    list-style-type: none;
    padding-left: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, 2em);
    gap: 0.5em;

    .p-author {
      display: inline;
    }

    img {
      max-height: 2em;
      border-radius: 0.25em;
    }
  }
}
