.dated-list {
  padding-left: 0;
  list-style-type: none;

  & > li {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid lighten(#6c757d, 45%);

    h3.date {
      margin-top: 0;
      font-weight: normal;
      font-size: 1em;
      font-style: italic;
    }

    ul.content {
      padding-left: 0;
      list-style-type: none;

      & > li {
        margin-bottom: 1em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid lighten(#6c757d, 45%);

        &:last-of-type {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }

      & > li:first-of-type h1:first-of-type,
      & > li:first-of-type h2:first-of-type,
      & > li:first-of-type h3:first-of-type,
      & > li:first-of-type h4:first-of-type,
      & > li:first-of-type h5:first-of-type,
      & > li:first-of-type h6:first-of-type {
        margin-top: 0;
      }
    }
  }

  & > li:last-of-type {
    border-bottom: 0;
  }
}

@include default-breakpoint() {
  .dated-list {
    padding-left: 0;
    list-style-type: none;

    & > li {
      display: grid;
      grid-template-columns: 8em 1fr;
      grid-template-areas: "date content";
      grid-column-gap: 1em;

      h3.date {
        grid-area: date;
      }

      ul.content {
        grid-area: content;
      }
    }
  }
}
