form {
  .field {
    margin-bottom: 1em;
    label {
      display: block;
    }

    input,
    textarea,
    select {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }

    textarea {
      min-height: 25vh;
    }
  }

  .field.option {
    position: relative;
    display: block;
    padding-left: 1.25rem;

    label {
      display: inline;
    }

    input {
      width: auto;
      height: auto;
      display: inline;
      position: absolute;
      margin-top: 0.3rem;
      margin-left: -1.25rem;
    }
  }

  .actions {
    margin-top: 2em;
    border-top: 1px solid lighten(#6c757d, 45%);
    padding-top: 1em;

    button,
    a {
      margin-right: 0.5em;
      text-decoration: none;
    }
  }
}

form button,
form input[type="submit"],
form input[type="reset"],
a.btn:link,
a.btn:visited,
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  color: #fff;
  background-color: #6c757d;
  border: 1px solid #6c757d;

  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

form button[type="submit"],
form input[type="submit"],
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn + .btn {
  margin-left: 0.5em;
}
