.likes {
  list-style-type: none;
  padding-left: 0;

  p:last-child {
    margin-bottom: 0;
  }
  p:first-child {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }

  li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
  }

  li:last-of-type {
    border-bottom: none;
  }

  li:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
}

.like header {
  .avatar {
    max-height: 2em;
    vertical-align: middle;
    border-radius: 0.25em;
  }
  .p-name {
    display: none;
  }
  .p-author a {
    text-decoration: none;
  }
  .heart {
    color: #d9646e;
  }
}
