#software {
  article img {
    width: 100%;
  }
}

@include default-breakpoint() {
  #software {
    section {
      img {
        width: auto;
        float: right;
        padding-left: 1em;
      }

      @include clearfix;
    }

    section:nth-child(2n) img {
      padding-left: 0;
      padding-right: 1em;
      float: left;
    }
  }
}
