{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "elixir", "objectivec", "erlang", "c", "ruby", "lisp", "php"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
