
@charset "utf-8";

@import "normalize.css.scss";


body {
  font-family:"Open Sans", Verdana, sans-serif;
  color: #333;
  background-color:#EAE6E6;
  font-size: 18px;
  line-height: 1.4;
}

.wrapper {
  max-width:50em;
  margin:auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  background: #FAF6F6;
  padding: 0px 1.5em;
}

.site-header {
  background-color:#8CBD2E;
  color: #eee;
  padding:1em;
  width:100%;
  box-sizing: border-box;
  border-bottom-left-radius:.5em;
  border-bottom-right-radius:.5em;

  order:1;
  flex: 0 1 auto;
  align-self: auto;

  .logo {
    margin:0;
    padding:0;
    font-size:2em;
    font-weight:bold;
    text-shadow:1px 1px 4px #333;

    a {
      color:inherit;
      text-decoration:none;
    }

    a:hover { text-decoration:underline; }
  }

  p, p a {
    margin:0;
    color:#3f3f3f;
  }

  p a { text-decoration:underline; }
}

.site-nav, .site-footer {
  text-align:center;
  padding-top:0;
  margin:0;
  color:#888;

  ul {
    margin:0;
    margin-top:.5em;
    padding:1em;

    display:inline-block;
    width:100%;
    box-sizing: border-box;
    list-style-type:none;
    background-color:#3f3f3f;
    text-align:left;
    border-radius:.5em;

    li {
      a:link, a:visited { color:#FFF; }
      display:inline;
      padding:0;
      margin-right:1em;
    }
  }
}

.site-nav {
  order:1;
  flex: 0 1 auto;
  align-self: auto;
}

.site-footer {
  order:3;
  flex: 0 1 auto;
  align-self: auto;

  ul {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
  }
}

main {
  padding:0;
  width:100%;
  box-sizing: border-box;

  order:2;
  flex: 1 1 auto;
  align-self: auto;
}

@media only screen and (min-width: 50em) {
  main {
    padding:1em;
  }
}


ol, ul { padding-left:1em; }


a:link {
  color:#3481CD;
  text-decoration:none;
}
a:visited { color:#999; }
a:active,
a:focus,
a:hover { color:#990909; }
a:hover { text-decoration:underline; }

.fr {
  float:right;
  margin:0;
  padding:0;

  img {
    margin-left:1em;
    max-width:100%;
    box-sizing:border-box;
  }
}

.fl {
  float:left;
  margin:0;
  padding:0;

  img {
    margin-right:1em;
    max-width:100%;
    box-sizing:border-box;
  }
}


dl {
  dt {
    float: left;
    width: 8em;
    font-weight:bold;
  }

  dd {
    margin-left: 8em;
  }
}

header {
  .feed {
    float:right;
    img { vertical-align:top; }
  }

  p a, p a:visited, p a:link {
    color:inherit;
  }

  img.avatar {
    max-width:3.5em;
    float:left;
    margin-right:1em;
  }

  h3 { margin-left:4em; }
}

.e-content, .p-summary { margin-left:4.5em; }
.p-name { font-weight:bold; }
.hidden { display:none; }


#exif { margin-left:4.5em; }
#mentions h3, #likes h3, #reposts h3 { margin-left:4em; }

.likes, .reposts {
  list-style-type: none;
  padding-left:0;

  li { display:inline-block; }

  .like-link img, .repost-link img {
    max-height:3em;
    display:block;
  }
}

nav ul.pagination {
  list-style-type:none;
  padding-left:0;
  text-align:center;

  li {
    display:inline-block;
    border:1px solid #DDD;
    padding:.2em .5em;
    color:#337AB7;

    a:link, a:visited { color:#337AB7; }
    a.active { color:#333; }
  }
}

main > header > h2 {
  margin-top:0;
}

.items-list {
  list-style-type:none;
  padding-left:0;

  p:last-child { margin-bottom:0; }
  p:first-child { margin-bottom:0; }

  header { display:none; }
  .article {
    header {
      display:block;

      h3 {
        margin-left:0;
        margin-bottom:0,
      }
      h3 + p { margin-top:0; }
      .avatar { display:none; }
    }

    .excerpt {
      font-style:normal;
    }
  }

  .e-content, .p-summary {
    margin-left:0;
  }

  li {
    margin-bottom:1em;
    padding-bottom:1em;
    border-bottom:1px solid #ccc;

    display: flex;
    flex-flow: row nowrap;

    .date {
      flex:none;
      width:9em;
      font-size:.8em;
    }
    .item {
      flex:1 auto;
      margin-left:1em;
    }
    .item *:first-child { margin-top:0; }
  }
  li:last-of-type { border:none; }

  
}

@import "./articles.css.scss";
@import "./notes.css.scss";
@import "./pictures.css.scss";
@import "./software.css.scss";
@import "./home.css.scss";
@import "./forms.css.scss";

/* eof */