.clearfix:after {
  content:".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.whatsnew {
  margin-top:2em;
}

.home article.article {
  .avatar { display:none; }
  .p-name, .p-summary { margin-left:0; }
}
