
@charset "utf-8";

.items-list {
  list-style-type:none;
  padding-left:0;

  p:last-child { margin-bottom:0; }
  p:first-child { margin-bottom:0; }

  header { display:none; }

  .article {
    header {
      display:block;

      h3 {
        margin-left:0;
        margin-bottom:0,
      }
      h3 + p { margin-top:0; }
      .avatar { display:none; }
    }

    .excerpt {
      font-style:normal;
    }
  }

  .e-content, .p-summary, .in-reply-to {
    margin-left:0;
  }

  li {
    margin-bottom:1em;
    padding-bottom:1em;
    border-bottom:1px solid #ccc;

    .date {
      font-size:.8em;
      font-style:italic;
    }
    .item { margin-left:0em; }
    .item *:first-child { margin-top:0; }
  }
  li:last-of-type { border:none; }
}


@media only screen and (min-width:30em) {
  .items-list {
    li {
      display: flex;
      flex-flow: row nowrap;

      .date {
        flex:none;
        width:9em;
      }

      .item {
        margin-left:1em;
        flex:1 auto;
      }
    }
  }
}

/* eof */