/* -*- coding: utf-8 -*- */


.notes li:after, ol.mentions li:after {
  content:".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.note, .picture {
  header {
    p {
      margin:0;
    }
  }
}

.in-reply-to {
  font-style:italic;
  font-weight:normal;
  margin:0;
}

.note .perma-link {
  margin-top:0;
  font-size:0.75em;
  font-style:italic;
  font-weight:normal;
}

/* eof */