/* -*- coding: utf-8 -*- */

.pictures {
  list-style-type:none;
  padding-left:0;

  li {
    header, .in-reply-to { display:none; }

    .picture img.image {
      max-width:none;

      padding:.25em;
      margin:.25em auto;
      border:1px solid #aaa;
      border-radius:3px;
    }
  }
}

.picture img.image { max-width:100%; }
.pictures.index .picture img.image { display:block; }

a.osm img {
  max-width:100%;
}

@media only screen and (min-width: 30em) {
  .pictures {
    display:flex;
    flex-flow: row wrap;

    li {
      flex: none;
      display:block;

      .picture img.image { margin:.25em; }
    }
  }

  .meta { margin-left:4.5em; }

  .index .thumbnail.e-content { margin-left:0; }
}
/* eof */