  <div class="field">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{form_data.title}}">
  </div>

  <div class="field">
    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" value="{{form_data.slug}}">
  </div>

  <div class="field">
    <label for="in_reply_to">in reply to</label>
    <input type="text" id="in_reply_to" name="in_reply_to" value="{% if let Some(reply) = form_data.in_reply_to %}{{reply}}{% endif %}">
  </div>

  <div class="field">
    <label for="lang">language</label>
    <input type="text" id="lang" name="lang" value="{{form_data.lang}}">
  </div>

  <div class="field option">
    <input type="checkbox" id="posse" value="true" name="posse"{% if form_data.posse %} checked{% endif %}>
    <label for="posse">POSSE</label>
  </div>

  <div class="field">
    <label for="posse_visibility">POSSE visiblity</label>
    <select id="posse_visibility" name="posse_visibility">
      <option value="public"{% if form_data.posse_visibility == "public"%} selected{% endif %}>public</option>
      <option value="unlisted"{% if form_data.posse_visibility == "unlisted"%} selected{% endif %}>unlisted</option>
      <option value="private"{% if form_data.posse_visibility == "private"%} selected{% endif %}>private</option>
      <option value="direct"{% if form_data.posse_visibility == "direct"%} selected{% endif %}>direct</option>
    </select>
  </div>

  <div class="field">
    <label for="conent_warning">Content warning</label>
    <input type="text" id="content_warning" name="content_warning" value="{{form_data.content_warning|default_value("")}}" maxlength="255">
  </div>

  <div class="field option">
    <input type="checkbox" id="published" value="true" name="published"{% if form_data.published %} checked{% endif %}>
    <label for="published">published</label>
  </div>

  <div class="field textarea">
    <label for="excerpt">excerpt</label>
    <textarea id="excerpt" name="excerpt">{% if let Some(excerpt) = form_data.excerpt %}{{excerpt}}{% endif %}</textarea>
  </div>

  <div class="field textarea">
    <label for="body">body</label>
    <textarea id="body" name="body">{{form_data.body}}</textarea>
  </div>
