  <div class="field">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{form_data.title}}">
  </div>

  <div class="field">
    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" value="{{form_data.slug}}">
  </div>

  <div class="field">
    <label for="in_reply_to">in reply to</label>
    <input type="text" id="in_reply_to" name="in_reply_to" value="{% if let Some(reply) = form_data.in_reply_to %}{{reply}}{% endif %}">
  </div>

  <div class="field">
    <label for="lang">language</label>
    <input type="text" id="lang" name="lang" value="{{form_data.lang}}">
  </div>

  <div class="field option">
    <input type="checkbox" id="posse" value="true" name="posse"{% if form_data.posse %} checked{% endif %}>
    <label for="posse">POSSE</label>
  </div>

  <div class="field option">
    <input type="checkbox" id="published" value="true" name="published"{% if form_data.published %} checked{% endif %}>
    <label for="published">published</label>
  </div>

  <div class="field textarea">
    <label for="excerpt">excerpt</label>
    <textarea id="excerpt" name="excerpt">{% if let Some(excerpt) = form_data.excerpt %}{{excerpt}}{% endif %}</textarea>
  </div>

  <div class="field textarea">
    <label for="body">body</label>
    <textarea id="body" name="body">{{form_data.body}}</textarea>
  </div>
