{% extends "layout.html.j2" %}

{% block description %}Articles by Christian Kruse{% endblock %}

{% block content %}
<header class="page-header">
  <h2>Articles</h2>
  <a href="{{ self::articles_atom_uri() }}"><img class="feed-icon" src="{{ self::asset_uri("feed.svg") }}" alt="Atom Feed"></a>
  <p>This page contains articles by <a href="{{ self::page_uri("about") }}" rel="me">me</a>.</p>
</header>

{% if logged_in %}
  <p><a href="{{ self::new_article_uri() }}">new article</a></p>
{% endif %}

<ol class="articles">
  {% for article in articles %}
    <li>
      {% include "articles/article.html.j2" %}

      {% if logged_in %}
        <form class="inline" method="post" action="{{ self::delete_article_uri(article) }}">
          <p class="index-actions">
            <a href="{{ self::edit_article_uri(article) }}">edit</a>
            <button type="submit">delete</button>
          </p>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ol>

{% set paging_path = self::articles_uri() %}
{% include "paging.html.j2" %}

{% endblock %}
