{% extends "layout.html.j2" %}

{% block content %}
<header class="page-header">
  <h2>New article</h2>
</header>

{% if let Some(err) = error %}
<div class="alert alert-danger">{{ err }}</div>
{% endif %}

<form method="post" action="{{ self::admin_articles_uri() }}">
  {% include "articles/form.html.j2" %}

  <div class="actions">
    <button type="submit">save</button>
    <a href="{{ self::articles_uri() }}" class="btn">cancel</a>
  </div>
</form>
{% endblock %}
