<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/atom+xml" title="WWWTech / What's new? (Combined feed)" href="{{self::whatsnew_atom_uri()}}">
    <link rel="alternate" type="application/atom+xml" title="WWWTech / Articles" href="{{self::articles_atom_uri()}}">
    <link rel="alternate" type="application/atom+xml" title="WWWTech / Notes" href="{{self::notes_atom_uri()}}">
    <link rel="alternate" type="application/atom+xml" title="WWWTech / Pictures" href="{{self::pictures_atom_uri()}}">

    <link rel="pgpkey" type="application/pgp-keys" href="/A99A9D73.asc">
    <link rel="author" href="/humans.txt" type="text/plain">

    <link rel="apple-touch-icon" href="{{ self::asset_uri("christian-kruse.jpg") }}">
    <link rel="shortcut icon" href="{{ self::asset_uri("favicon.ico") }}" Type="image/x-icon">

    <link rel="webmention" href="https://wwwtech.de/webmentions">

    <meta name="description" content="{% block description %}Personal silo (Twitter, Facebook, …) replacement of Christian Kruse{% endblock %}">
    <meta name="author" content="Christian Kruse">

    <title>{% if let Some(title) = title %}{{title}}{% else %}WWWTech — Open Source Software by Christian Kruse{% endif %}</title>

    <meta property="og:title" content="{% if let Some(title) = title %}{{title}}{% else %}WWWTech — Open Source Software by Christian Kruse{% endif %}">
    <meta property="og:type" content="{% if let Some(page_type) = page_type %}{{page_type}}{% else %}website{% endif %}">
    <meta property="og:image" content="{% if let Some(page_image) = page_image %}{{page_image}}{% else %}{{self::asset_uri("christian-kruse.jpg")}}{% endif %}">

    <link rel="stylesheet" href="{{ self::asset_uri("styles.css") }}">
  </head>

  <body{% if let Some(body_id) = body_id %} id="{{body_id}}"{% endif %}{% if logged_in %} class="logged-in"{% endif %}>
    <div class="site-header">
      <header>
        <h1 class="logo"><a href="{{self::root_uri()}}">WWWTech</a></h1>
        <p>Open Source Software and Publications by <a href="{{self::page_uri("about")}}">Christian Kruse</a></p>
      </header>
    </div>

    <nav class="site-nav">
      <ul>
        <li><a href="{{self::root_uri()}}">Home</a></li>
        <li><a href="{{self::page_uri("about")}}">About</a></li>
        <li><a href="{{self::page_uri("software")}}">Software</a></li>

        <li><a href="{{self::articles_uri()}}">Articles</a></li>
        <li><a href="{{self::notes_uri()}}">Notes</a></li>
        <li><a href="{{self::pictures_uri()}}">Pictures</a></li>
        <li><a href="{{self::page_uri("more")}}">More</a></li>
        {% if logged_in %}
          <li><form method="post" action="{{self::logout_uri()}}"><button type="submit">Logout</button></form></li>
        {% endif %}
      </ul>
    </nav>

    <main role="main">
      {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
      <nav>
        <ul>
          <li><a href="{{self::page_uri("about")}}" rel="me">Legal Notice</a></li>
          <li class="email"><a href="mailto:cjk@defunct.ch" rel="me">cjk@defunct.ch</a> via Email</li>
        </ul>
      </nav>
    </footer>

    <!--script src="{{ self::asset_uri("app.js") }}" async></script-->
  </body>
</html>
