<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="alternate" type="application/atom+xml" title="WWWTech / What's new? (Combined feed)" href="<%= Routes.page_url(@conn, :index_atom) %>">
    <link rel="alternate" type="application/atom+xml" title="WWWTech / Articles" href="<%= Routes.article_url(@conn, :index) %>.atom">
    <link rel="alternate" type="application/atom+xml" title="WWWTech / Notes" href="<%= Routes.note_url(@conn, :index) %>.atom">
    <link rel="alternate" type="application/atom+xml" title="WWWTech / Pictures" href="<%= Routes.picture_url(@conn, :index) %>.atom">

    <link rel="pgpkey" type="application/pgp-keys" href="/A99A9D73.asc">

    <link rel="apple-touch-icon" href="<%= Routes.static_path(@conn, "/images/christian-kruse.jpg") %>">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="author" href="<%= Routes.page_path(@conn, :index) %>humans.txt" type="text/plain">

    <link rel="webmention" href="<%= Routes.webmention_url(@conn, :create) %>">

    <meta name="description" content="<%= description(@conn, assigns) %>">
    <meta name="author" content="Christian Kruse">

    <title><%= page_title(@conn, assigns) %></title>

    <meta property="og:title" content="<%= page_title(@conn, assigns) %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= og_image(@conn) %>">

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>

  <body<%= body_id(@conn, assigns) %>>
    <div class="site-header">
      <header>
        <h1 class="logo"><%= link "WWWTech", to: Routes.page_url(@conn, :index) %></h1>
        <p>Open Source Software and Publications by <%= link "Christian Kruse", to: Routes.page_path(@conn, :about) %></p>
      </header>
    </div>

    <nav class="site-nav">
      <ul>
        <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
        <li><%= link "About Me", to: Routes.page_path(@conn, :about) %></li>
        <li><%= link "Software", to: Routes.page_path(@conn, :software) %></li>

        <li><%= link "Articles", to: Routes.article_path(@conn, :index) %></li>
        <li><%= link "Notes", to: Routes.note_path(@conn, :index) %></li>
        <li><%= link "Pictures", to: Routes.picture_path(@conn, :index) %></li>
        <li><%= link "More", to: Routes.page_path(@conn, :more) %></li>
        <%= if logged_in?(@conn) do %>
          <li><%= button "Logout", to: Routes.session_path(@conn, :delete), method: :delete %></li>
        <% end %>
      </ul>
    </nav>

    <main role="main">
      <%= if has_flash?(@conn, :info)  do %><p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p><% end %>
      <%= if has_flash?(@conn, :error)  do %><p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p><% end %>

      <%= @inner_content %>
    </main>

    <footer class="site-footer">
      <nav>
        <ul>
          <li><%= link "Legal Notice", to: Routes.page_path(@conn, :about), rel: "me" %></li>
          <li class="email"><%= link "cjk@defunct.ch", to: "mailto:cjk@defunct.ch", rel: "me" %> via Email</li>
        </ul>
      </nav>
    </footer>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>" async></script>
  </body>
</html>
